@model List<Olga.Models.ArtworkViewModel>
<div>
    <h3>Artworks: </h3>
    <table class="table">
        @{ var objectType = "Artwork"; }
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @{var loadingElement = @Model[i].Id + "artworkloadingDellInfo";}
                    @using (Ajax.BeginForm("DeleteInfo", new AjaxOptions
                    {
                        UpdateTargetId = "results",
                        LoadingElementId = @loadingElement,
                        LoadingElementDuration = 1000
                    }))
                    {
                        <input type="hidden" id="Id" name="Id" value="@Model[i].Id"/>
                        <input type="hidden" id="objectType" name="objectType" value="@objectType"/>
                        <span>@Model[i].Artwork_name</span>
                        <span id="@loadingElement" style="display: none; color: Red; font-weight: bold;">Loading...</span>
                        @*<input type="submit" value="Delete" style="float: right"/>*@
                    }
                </td>
            </tr>
        }
        <tr>
            <td>
                @using (Ajax.BeginForm("AddInfo", new AjaxOptions
                {
                    UpdateTargetId = "results",
                    LoadingElementId = "artworkloadingAddInfo",
                    LoadingElementDuration = 1000
                }))
                {
                    <input type="text" id="Name" name="Name"/>
                    <input type="hidden" id="objectType" name="objectType" value="@objectType"/>
                    <input type="submit" value="Add Artwork"/>
                    <span id="artworkloadingAddInfo" style="display: none; color: Red; font-weight: bold;">Loading...</span>
                }
            </td>
        </tr>
    </table>
</div>


