@model List<Olga.Models.PharmaceuticalFormViewModel>
<div>
    <h3>Pharmaceutical Forms: </h3>
    <table class="table">
        @{ var objectType = "PharmaceuticalForm"; }
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @{var loadingElement = @Model[i].Id + "pharmaceuticalFormloadingDellInfo";}
                    @using (Ajax.BeginForm("DeleteInfo", new AjaxOptions
                    {
                        UpdateTargetId = "results",
                        LoadingElementId = @loadingElement,
                        LoadingElementDuration = 1000
                    }))
                    {
                        <input type="hidden" id="Id" name="Id" value="@Model[i].Id" />
                        <input type="hidden" id="objectType" name="objectType" value="@objectType" />
                        <span>@Model[i].PharmaForm</span>
                        <span id="@loadingElement" style="display: none; color: Red; font-weight: bold;">Loading...</span>
                        <input type="submit" value="Delete" style="float: right" />
                    }
                </td>
            </tr>
        }
        <tr>
            <td>
                @using (Ajax.BeginForm("AddInfo", new AjaxOptions
                {
                    UpdateTargetId = "results",
                    LoadingElementId = "pharmaceuticalFormloadingAddInfo",
                    LoadingElementDuration = 1000
                }))
                {
                    <input type="text" id="Name" name="Name" />
                    <input type="hidden" id="objectType" name="objectType" value="@objectType" />
                    <input type="submit" value="Add Pharmaceutical Form" />
                    <span id="pharmaceuticalFormloadingAddInfo" style="display: none; color: Red; font-weight: bold;">Loading...</span>
                }
            </td>
        </tr>
    </table>
</div>


