<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/content/images/favicon.png")" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/umega/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/umegajs")
</head>
<body>
<header>
    <div style="margin-right: 50px;">
        <ul class="nav navbar-nav navbar-right">
            @if (!User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
            }
            else
            {
                <li>
                    <a>@User.Identity.Name</a>
                </li>
                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
            }

        </ul>
    </div>
</header>

<div class="main-container">
    <aside class="main-sidebar">
        @if (Request.IsAuthenticated)
        {
            @Html.Action("Menu", "Home")
        }

    </aside>
</div>
<div class="page-container">
    @RenderBody()
    <hr />
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year – Lykos Pharma</p>
        </footer>
    </div>
</div>

@RenderSection("scripts", required: false)
</body>
</html>
