@{
    ViewBag.Title = $"Files {@MyHelpers.GetFileTypeText(ViewBag?.ProcedureDocsType)}";
}
@using System.Web.Mvc.Html
@using Olga.DAL.Entities
@model Olga.Models.ProcedureViewModel
@{
    var flagSrc = $"{@ViewBag.CountryId}.gif";
}
<div>
    <div class="row" style="margin-left: 20px; margin-right: 10px;">
        <div class="row">
            <div class="col-md-10">
                <div class="alert-success" style="width: auto; margin-top: 10px;">
                    <h1>
                        @ViewBag.Country
                        <img style="margin-left: 15px; height: 20px;" src="~/Content/images/countries/@flagSrc" />
                    </h1>
                </div>
            </div>
        </div>
        <br />
        <h2>
            Update Procedure Files for:<span style="color: blue; font-weight: bold; margin-top: 20px;">
                @Html.ActionLink($"{ViewBag.Product.ProductName ?? "No Name"}", "ShowDocuments", "Product", new { id = @ViewBag.Product.Id, countryId = @ViewBag.CountryId }, new { target = "_blank" })
            </span>
        </h2>
        <div class="product_span">
            <span>@ViewBag.Product.PharmaceuticalForm</span>
            <span>@ViewBag.Product.Strength</span>
            <span>@ViewBag.Product.MarketingAuthorizNumber</span>
            <span>@ViewBag.Product.ProductCode</span>
            <div id="load" class="load" align="center">
                <img src="~/Content/images/loading.gif" style="padding-left: 40px;" width="28" height="20" /> Loading...
            </div>
        </div>

        <br />
        <br />
        <div class="form-group" id="documentsGroup" name="documentsGroup">
            <div class="row">
                <div class="col-md-10">
                    @MyHelpers.MakeEditFiles(Model, ViewBag?.ProcedureDocsType)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h3>Choose file to download:</h3>
                    @using (Html.BeginForm("EditProcedureFiles", "Procedure", new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        var procedureDocsTypeId = (int)ViewBag.ProcedureDocsType;
                        <input type="hidden" id="procedureId" name="procedureId" value="@Model.Id" />
                        <input type="hidden" id="productId" name="productId" value="@Model.ProductId" />
                        <input type="hidden" id="procedureDocsType" name="procedureDocsType" value="@procedureDocsTypeId" />

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.Label("Document sources:", htmlAttributes: new { @class = "control-label col-md-4 width_100" })
                            </div>
                            <div class="col-md-8">
                                <label id="FileLable" class="btn btn-default">
                                    Browse for file ...
                                    <input type="file" id="uploadFiles" name="uploadFiles" onchange="getFileData(this);" multiple="multiple" hidden />
                                </label>
                                <label style="margin-left: 20px;" id="choosenFile" name="choosenFile"></label>
                            </div>
                        </div><br /><br /><br />
                        <div class="form-group">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-2 ">
                                <input type="submit" value="Download" class="btn btn-info" />
                            </div>
                            <div class="col-md-6" style="padding-top: 5px; padding-bottom: 0px;">
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success">0%</div>
                                </div>
                            </div>
                        </div><br /><br />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div><br />
        </div>
    </div>
</div>
@section Scripts {
   
    <script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.3.0/dist/jquery.form.min.js"></script>

    <script>
        //initialise Action link to Delete File in RenderedScript-file
        var linkToDelProcFile = '@Url.Action("DeleteProcedureFile", "Procedure")';
        $(function() {
            window.initScript(linkToDelProcFile);
        });
    </script>
    <script src="~/Scripts/Procedures/EditProcFiles.js"></script>
}

@Styles.Render("~/Content/DownloadProcFiles.css")

