@{
    ViewBag.Title = "EditProcedure";
}
@using System.Web.Mvc.Html
@using Olga.DAL.Entities
@model Olga.Models.ProcedureEditModel

<div>
    <div class="row" style="overflow: auto; margin-left:  20px;margin-right: 10px;">
        <div class="alert-success" style="width: 100%">
            <h2>@ViewBag.Country</h2>
        </div>
        <h1>Update Procedure for:</h1>
        <div class="product_span">
            <span>@ViewBag.Product.ProductName</span><br />
            <span>@ViewBag.Product.PharmaceuticalForm</span><br />
            <span>@ViewBag.Product.ProductCode</span><br />
            <span>@ViewBag.Product.Strength</span><br />
            <span>@ViewBag.Product.MarketingAuthorizNumber</span><br />
        </div>
        <br />
        <br />
        @using (Html.BeginForm("EditProcedure", "Procedure", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <br />
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProductId)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProcedureType, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.ProcedureType, new { @class = "form-control" })
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.ApprovalDate, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @{
                            var dateValue =
                                DateTime.MinValue == Model.ApprovalDate
                                    ? String.Empty
                                    : DateTime.Parse(@Model.ApprovalDate.ToString()).ToString("u").Substring(0, 10);
                        }
                        <input class="form-control rounded"
                               data-val="true"
                               id="ApprovalDate"
                               name="ApprovalDate"
                               value="@dateValue" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SubmissionDate, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @{
                            var dateValue2 =
                                DateTime.MinValue == Model.SubmissionDate
                                    ? String.Empty
                                    : DateTime.Parse(@Model.SubmissionDate.ToString()).ToString("u").Substring(0, 10);
                        }
                        <input class="form-control rounded"
                               data-val="true"
                               id="SubmissionDate"
                               name="SubmissionDate"
                               value="@dateValue2" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Comments, new { @class = "form-control" })
                    </div>
                </div>
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-1 col-xs-1 col-md-offset-1">
                    <input type="submit" value="Save" class="btn btn-primary" id="submit-all" />
                </div>
            </div>
            <div class="empty"></div>

        }
        @*<h2>Documents:</h2>

        *@
    </div>
</div>
<style>
    .product_span span {
        margin-top: 15px;
        color: darkcyan;
        font-size: 20px;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dropzonescripts")
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>

    <script type="text/javascript">
        (function (parameters) {
            $(document).ready(function () {
                            console.log('@Model.ApprovalDate');
                            var format = 'YYYY-MM-DD';
                            $('#ApprovalDate').datetimepicker({
                                format: format
                });
                            console.log('@Model.SubmissionDate');
                            $('#SubmissionDate').datetimepicker({
                                format: format
                });
                        });
        }())
    </script>
}




